/*
    NOME: PAULO VICTOR
    DATA: 02/11/2020
    HORA: 22:56
*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,700;1,200;1,600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
body{
    height: 100%;
    background-color: #f5f5f5;
}
/*STYLE AGIL*/
.left{
    float: left;
}
.right{
    float: right;
}
.clear{
    clear: both;
}
.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.w33{
    width: 33%;
}
.w50{
    width: 49%;
}
.w100{
    width: 100%;
}
/***/
/*BTN*/
.btn{
    padding: 10px 20px;
    text-decoration: none;
}
.update{
    background-color: #e2e3e5;
    color: #383d41;
}
.delete{
    background-color: #f8d7da;    
    color: #721c24;
}
/***/
/*LIST ITEM*/
.item-list{
    padding: 20px 0;
}
/***/
/*DIV ALERT*/
.div-alert{
    width: 100%;
    margin: 10px 0 10px 0;
    padding: 10px;
}
.success{
    background-color: #d4edda;
    color: #155724;
}
.error{
    background-color: #f8d7da;
    color: #721c24;
}
.default{
    background-color: #e2e3e5;
    color: #383d41;
}
/***/
/*STYLE PERSONALIZADO*/
.menu-left{
    width: 300px;
    height: 100%;
    background-color: aqua;
    position: fixed;
    top: 0;
    background-color: #d6d6d6;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    overflow-x: auto;   
}
.menu-left::-webkit-scrollbar {
    width: 5px;
}
.menu-left::-webkit-scrollbar-thumb {
    background: white; 
    border-radius: 10px;
}
  
.menu-left  .item-menu h4{
    padding: 10px 0 10px 10px;
    background-color: #42597d;
    color:white;    
}
.menu-left  .item-menu p{
    padding: 5px 0 5px 20px;
    background-color: #5d84c2;
}
.menu-left  .item-menu p a{
    text-decoration: none;    
    color:white
}
.menu-top{
    width: calc(100% - 300px);
    padding: 20px;
    background-color: aqua;
    background-color: #d6d6d6;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);    
}
/*MENU-LEFT*/
.img-avatar{
    width: 120px;
    height: 120px;
    background-color: #f5f5f5;
    background-position: center;
    background-size: contain;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 100px;
}
.btn-menu-left i {
    font-size: 25px;
    color: white;
    cursor: pointer;
}
/***/
/*MAIN*/
.main{
    width: calc(100% - 300px);
    height: 100vh;
    background-color: #5d84c2;
    padding: 40px;
}
.link:first-child{
    background-color: #aaa;
    padding: 40px 20px;
}
.link{
    color: white;
    margin-left: 20px;
    text-decoration: none;
}
/***/
/*PAGE HOME CREATE*/
.item-dashboard{
    padding: 30px 20px;
    background-color: #42597d;
    color: white;
}
.item-dashboard table td{
    margin-right: 40px;
    display: inline-block;
}
.itens-form input, .itens-form select{
    margin-top: 10px;
}
*:focus{
    outline: 0;
}
.itens-form input[type=text], .itens-form select{
    padding: 10px 15px;
}
.itens-form input[type=file]{
    border: 1px solid white;
    padding: 10px;
}
.itens-form input[type=submit]{
    padding: 10px;
}
/***/